
<!DOCTYPE html>


<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div>
    @RenderBody()
</div>

<footer>
    <div class="container mt-">
        <div class="row">
            <div class="card-body">

                <p style="text-align:center">&copy; @DateTime.Now.Year - Projeto Login Nicolas de Freitas</p>
            </div>
        </div>
    </div>
</footer>



